@charset "ISO-8859-1";

#bs-example-navbar-collapse-1 {
	background-color: #666666;
	padding-right: 10px;
}

#bs-example-navbar-collapse-1 ul li a {
	color: white;
}

.dropdown:hover, #bs-example-navbar-collapse-1 ul li a:hover {
	background-color: black;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #808080;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}