<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Parking Search Result</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="home :: navigation-fragment"></div>
	<div class="search-result">
		<table class="table table hover">
			<thead>
				<tr>
					<th>SNo</th>
					<th>Name</th>
					<th>Distance</th>
					<th>Price</th>
					<th>Close Time</th>
					<th>Full View</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>DSA corp limited</td>
					<td>12km</td>
					<td>120</td>
					<td>10pm</td>
					<td><a href="#">View</a></td>
				</tr>
				<tr>
					<td>1</td>
					<td>DSA corp limited</td>
					<td>12km</td>
					<td>120</td>
					<td>10pm</td>
					<td><a href="#">View</a></td>
				</tr>
				<tr>
					<td>1</td>
					<td>DSA corp limited</td>
					<td>12km</td>
					<td>120</td>
					<td>10pm</td>
					<td><a href="#">View</a></td>
				</tr>
				<tr>
					<td>1</td>
					<td>DSA corp limited</td>
					<td>12km</td>
					<td>120</td>
					<td>10pm</td>
					<td><a href="#">View</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>