<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Company Details</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
	th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/popper.js/1.14.3/esm/popper.min.js}"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
	th:src="@{/webjars/chartjs/2.7.3/Chart.min.js}"></script>

<script type="text/javascript"
	src="../static/javascript/company-view.js"
	th:src="@{javascript/company-view.js}"></script>
<link rel="stylesheet" href="../static/css/company-view.css"
	th:href="@{css/company-view.css}" />


<link rel="stylesheet" th:href="@{/css/navigation.css}" />
</head>
<body onload="loadChart();">
	<div class="container">
		<div th:replace="home :: navigation-fragment"></div>
		<h2 th:text="*{company.name}">Company Name</h2>
		<div class="row">
			<div class="details">
				<div class="header-section">
					<div class="group">
						<label>Company ID : </label>
						<p th:text="*{company.id}">Company Id</p>
					</div>
					<div class="group">
						<label>Company Name : </label>
						<p th:text="*{company.name}">Company Name</p>
					</div>
					<div class="group">
						<label>Company Address : </label>
						<p th:text="*{company.address}">Full Address</p>
						<p th:text="*{company.address.street}">Street</p>
						<p th:text="*{company.address.city}">City</p>
						<p th:text="*{company.address.nearBy}">Near By</p>
						<p th:text="*{company.address.state}">State</p>
						<p th:text="*{company.address.pin}">PIN</p>
					</div>
					<div class="group">
						<label>Company Services : </label>
						<ul>
							<li th:each="cat : ${company.category}" th:text="${cat}">Category</li>
						</ul>
					</div>
					<div class="group">
						<label>Company Open Time : </label>
						<p th:text="*{company.openTime}">Company Open Time</p>
					</div>
					<div class="group">
						<label>Company Close Time : </label>
						<p th:text="*{company.closeTime}">Company Close Time</p>
					</div>
				</div>
				<div class="group">
					<label>Description : </label>
					<p th:text="*{company.description}">Company Description
						details....</p>
				</div>
			</div>
			<hr />
			<div class="card-columns">
				<div class="card">
					<div class="card-body text-centre">
						<p class="card-text">Request Volume V/S Service Level</p>
						<div class="chart-container">
							<canvas id="requestChart"></canvas>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body text-centre">
						<p class="card-text">Revenue and % of support Cost to Revenue</p>
						<div class="chart-container">
							<canvas id="revenueChart"></canvas>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body text-centre">
						<p class="card-text">Customer Satisfaction</p>
						<div class="chart-container">
							<canvas id="satisfactionChart"></canvas>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body text-centre">
						<p class="card-text">Customer Retention</p>
						<div class="chart-container">
							<canvas id="retentionChart"></canvas>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body text-centre">
						<p class="card-text">Cost per support</p>
						<div class="chart-container">
							<canvas id="costChart"></canvas>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body text-centre">
						<p class="card-text">Response time to Solve Issue</p>
						<div class="chart-container">
							<canvas id="responseTimeChart"></canvas>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div th:replace="home :: footer-fragment"></div>
	</div>
</body>
</html>