<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Parking Application</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/popper.js/1.14.3/esm/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/javascript/searchbox.js}"></script>
<link rel="stylesheet" th:href="@{/css/contact-response.css}" />
</head>
<body>
	<div class="container">
		<div th:replace="home :: navigation-fragment"></div>
		<div class="response" style="padding-top: 8em;">
			<p id="info">Your response is submitted successfully.</p>
		</div>
		<div th:replace="home :: footer-fragment"></div>
	</div>
</body>
</html>