<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Parko-Washing</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/popper.js/1.14.3/esm/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/washing-theme.css}" />
<script type="text/javascript" th:src="@{/javascript/searchbox.js}"></script>
</head>

<body>
	<div class="container">
		<div th:replace="home :: navigation-fragment"></div>

		<div class="grid-container">
			<!-- SPECIFICATION  -->
			<div class="washing-specification col-md-9 grid-item">
				<div class="silver-wash equal-height-row" style="margin-top: 5px;">
					<div class="col-md-3 equal-height-col img-col">
						<img th:src="@{/images/silver-wash.jpg}" alt="Silver-Wash"
							width="300px" height="250px" />
					</div>
					<div class="col-md-6 equal-height-col content-col">
						<h2 class="left h2-bottom">
							<a href="#">Silver Wash</a>
						</h2>
						<p class="left p-bottom">Complete vacuuming of cars incl.
							seats and boot + Washing and cleaning of foot mats + Body
							Shampooing and washing including door frames + Tyre arches
							cleaning + Underbody wash + Engine hot water wash and dressing +
							Side doors cleaning + Dash board polishing + Car perfume spray</p>

					</div>
				</div>
				<div class="gold-wash equal-height-row">
					<div class="col-md-3 equal-height-col img-col">
						<img th:src="@{/images/golden-wash.jpg}" alt="Gold Wash"
							width="300px" height="200px" />
					</div>
					<div class="col-md-6 equal-height-col content-col">

						<h2 class="left h2-bottom">
							<a href="#">Gold Wash</a>
						</h2>
						<p class="left p-bottom">Complete vacuuming of cars incl.
							seats and boot + Washing and cleaning of foot mats + Body
							Shampooing and washing including door frames + Tyre arches
							cleaning + Underbody wash + Engine hot water wash and dressing +
							Side doors cleaning + Dash board cleaning and polishing + tires
							and alloy wheels treatment + Car perfume spray</p>

					</div>
				</div>
				<div class="platinum-wash equal-height-row">
					<div class="col-md-3 equal-height-col img-col">
						<img th:src="@{/images/platinum-wash.jpg}"
							alt="Patinum Premium Wash" width="300px" height="200px" />
					</div>
					<div class="col-md-6 equal-height-col content-col">
						<h2 class="left h2-bottom">
							<a href="#">Platinum Premium Wash</a>
						</h2>
						<p class="left p-bottom">
							<b>Complete Gold Wash +</b> Tyre and alloy polishing + Scratch
							proof windshield spray + Car perfume spray
						</p>

					</div>
				</div>
				<div class="intense-cleaning equal-height-row">
					<div class="col-md-3 equal-height-col img-col">
						<img th:src="@{/images/internal-cleaning.jpg}"
							alt="Internal Cleaning" width="300px" height="200px" />
					</div>

					<div class="col-md-6 equal-height-col content-col">
						<h2 class="left h2-bottom">
							<a href="#">Intensive Internal Cleaning</a>
						</h2>
						<p class="left p-bottom">Complete dry cleaning of a interior
							including seats (carpet/leather), Dry Cleaning Of roof, mats and
							boot, Dressings to all vinyl, plastic, rubber giving your car
							spotless, shiny, glossy interior, Dashboard Polishing. Car
							perfume spray, Side Door Cleaning & Polishing.</p>

					</div>
				</div>
				<div class="car-rubbing equal-height-row">
					<div class="col-md-3 equal-height-col">
						<img th:src="@{/images/car-rubbing.jpg}" alt="Car Rubbing"
							width="300px" height="200px" />
					</div>
					<div class="col-md-6 equal-height-col">
						<h2 class="left h2-bottom">
							<a href="#">Car Rubbing & Buffing</a>
						</h2>
						<p class="left p-bottom">Over the time cars paint erodes due
							to the effects of sunlight, UV radiation, acid rain, salt, dirt,
							bird droppings and Air pollution. We give NEW LOOK TO PAINTED
							SURFACES by repairing the paint scratches, swirls marks,
							dullness, etc by using special rubbing compounds and imported
							polishes approved by the car manufacturers.</p>

					</div>
				</div>
				<div class="protection-coat equal-height-row">
					<div class="col-md-3 equal-height-col">
						<img th:src="@{/images/car-coating.jpg}" alt="Paint Coat"
							width="300px" height="250px" />
					</div>
					<div class="col-md-6 equal-height-col">
						<h2 class="left h2-bottom">
							<a href="#">Paint Protection Coats (Premium Teflon Coatings)</a>
						</h2>
						<p class="left p-bottom">Our PTFE based Polymer paint sealant
							creates slippery, slick barrier that protects the paint finishes,
							reduces fading & oxidation of paint. It repels dirt & grime,
							accelerates water run-off to reduce spotting with 6 month & 1.5
							year shine warranty.</p>

					</div>
				</div>
			</div>
		</div>
		<!-- COUNTER START -->
		<div class="counter white-text">
			<div class="car-washed col-md-3 counter-element">
				<div class="center image-bottom">
					<img th:src="@{/images/car-logo.png}" alt="icon" />
				</div>
				<p class="center counter-num count ls">31000</p>
				<p class="center counter-sub ls">Car Washed</p>
			</div>
			<div class="car-detailed col-md-3 counter-element">
				<div class="center image-bottom">
					<img th:src="@{/images/car-logo.png}" alt="icon" />
				</div>
				<p class="center counter-num count ls">10000</p>
				<p class="center counter-sub ls">Car Detailed</p>
			</div>
			<div class="car-coated col-md-3 counter-element">
				<div class="center image-bottom">
					<img th:src="@{/images/car-logo.png}" alt="icon" />
				</div>
				<p class="center counter-num count ls">1000</p>
				<p class="center counter-sub ls">Car Coated</p>
			</div>
			<div class="car-wrapped col-md-3 counter-element">
				<div class="center image-bottom">
					<img th:src="@{/images/car-logo.png}" alt="icon" />
				</div>
				<p class="center counter-num count ls">5000</p>
				<p class="center counter-sub ls">Car Wrapped</p>
			</div>
		</div>
		<!-- GALLERY START -->
		<div class="gallery"></div>

		<!-- FOOTER -->
		<div th:replace="home :: footer-fragment"></div>
	</div>

</body>
</html>